<ion-header>
  <ion-toolbar color="primary">
  	<ion-buttons slot=start>
  		<ion-back-button defaulthref=""></ion-back-button>
  	</ion-buttons>
    <ion-title>Basket Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-card *ngFor="let product of basket">
  		<ion-card-header>
    		<ion-card-title>
    			<ion-item>
    				<ion-icon name="walk" slot="end"></ion-icon>
   					<h5>{{product.name_product}}</h5>
  				</ion-item>
    		</ion-card-title>
  		</ion-card-header>
  		<ion-card-content>
   		 <ion-grid>
   		 	<ion-row>
   		 		<ion-col size="4"><h5>Precio: {{product.price}}</h5></ion-col>
   		 		<ion-col size="4"><h5>Disponible: {{product.available}}</h5></ion-col>
   		 		<ion-col size="4"><h5>Cantidad: {{product.quantity}}</h5></ion-col>
   		 	</ion-row>
   		 </ion-grid>
  		</ion-card-content>
  		<ion-card-content>
   			<ion-item>
    			<ion-button (click)="less(product)">-</ion-button>
    			<ion-button (click)="more(product)">+</ion-button>
  			</ion-item>
  		</ion-card-content>
  	</ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
  	<ion-item align-self-center>
  		<ion-label>Bs. {{bill.total}}</ion-label>
  	</ion-item>
    <ion-button expand="block" (click)="confirmation()" routerDirection="forward">
      Confirmación
    </ion-button>
  </ion-toolbar>
</ion-footer>