<ion-header>
  <ion-toolbar>
  	<ion-buttons slot=start>
  		<ion-back-button defaulthref=""></ion-back-button>
  	</ion-buttons>
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<div>
		<ion-item>
	  		<ion-label position="floating">Nombre de usuario</ion-label>
	  		<ion-input [(ngModel)]="user.username"></ion-input>
		</ion-item>
		<ion-item>
	  		<ion-label position="floating">Nombre</ion-label>
	  		<ion-input [(ngModel)]="user.name"></ion-input>
		</ion-item>
		<ion-item>
	  		<ion-label position="floating">Apellido</ion-label>
	  		<ion-input [(ngModel)]="user.lastname"></ion-input>
		</ion-item>
		<ion-item>
	  		<ion-label position="floating">CI</ion-label>
	  		<ion-input [(ngModel)]="user.ci"></ion-input>
		</ion-item>
		<ion-item>
	  		<ion-label position="floating">Email</ion-label>
	  		<ion-input type="email" [(ngModel)]="user.email"></ion-input>
		</ion-item>
		<ion-item>
	  		<ion-label position="floating">Contraseña</ion-label>
	  		<ion-input type="password" [(ngModel)]="user.password"></ion-input>
		</ion-item>
		<ion-item>
	  		<ion-label position="floating">Confirmación</ion-label>
	  		<ion-input type="password" [(ngModel)]="user.confirPassword"></ion-input>
		</ion-item>
	</div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button color="primary" expand="block" (click)="signup()" routerDirection="forward">
      Signup
    </ion-button>
  </ion-toolbar>
</ion-footer>
