<ion-header>
  <ion-toolbar>
  	<ion-buttons slot=start>
  		<ion-back-button defaulthref=""></ion-back-button>
  	</ion-buttons>
    <ion-title>Estadisticas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-grid>
			<ion-row>
				<ion-col size="12">
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="6">
					<ion-item>
						<ion-checkbox></ion-checkbox>
						<ion-label><h5>Hoy</h5></ion-label>
					</ion-item>
				</ion-col>
				<ion-col size="6">
					<ion-item>
						<ion-checkbox></ion-checkbox>
						<ion-label><h5>Semana pasada</h5></ion-label>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="6">
					<ion-item>
						<ion-checkbox></ion-checkbox>
						<ion-label><h5>Dos semana atras</h5></ion-label>
					</ion-item>
				</ion-col>
				<ion-col size="6">
					<ion-item>
						<ion-checkbox></ion-checkbox>
						<ion-label><h5>Mes pasado</h5></ion-label>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="12">
					<ion-item>
						<ion-checkbox></ion-checkbox>
						<ion-label> <h5>Año pasado</h5> </ion-label>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="12">
					Intervalo
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-card>
</ion-content>
