<ion-header>
  <ion-toolbar>
  	<ion-buttons slot=start>
  		<ion-back-button defaulthref=""></ion-back-button>
  	</ion-buttons>
    <ion-title>stadistics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-grid>
			<ion-row>
				<ion-col size="12">
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="6">
					<ion-item>
						<ion-checkbox></ion-checkbox>
						<ion-label>Hoy</ion-label>
					</ion-item>
				</ion-col>
				<ion-col size="6">
					<ion-item>
						<ion-checkbox></ion-checkbox>
						<ion-label>Semana pasada</ion-label>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="6">
					<ion-item>
						<ion-checkbox></ion-checkbox>
						<ion-label>Dos semana atras</ion-label>
					</ion-item>
				</ion-col>
				<ion-col size="6">
					<ion-item>
						<ion-checkbox></ion-checkbox>
						<ion-label>Mes pasado</ion-label>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="6">
					<ion-item>
						<ion-checkbox></ion-checkbox>
						<ion-label>Año pasado</ion-label>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="12">
					Intervalo
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-card>
</ion-content>
